websockets==15.0.1
accelerate==1.6.0
asyncio==3.4.3
sentence-transformers==4.1.0
onnxruntime==1.21.1
onnx==1.17.0
torch==2.7.0
numpy==2.2.5
pyinstaller==6.13.0
RealtimeSTT==0.3.103
# pyarmor==9.1.6

faster-whisper==1.1.1
halo==0.0.31
openwakeword==0.6.0
pvporcupine==1.9.5
scipy==1.15.2
soundfile==0.13.1
torchaudio==2.7.0
webrtcvad-wheels==2.0.14
websocket-client==1.8.0